@import "tailwindcss";
@import "lenis/dist/lenis.css";

@theme {
  --color-dark: #223622;
  --color-fill-dark: #223622;
  --color-fill-light-secondary: #ebf6e1;
  --color-light: #e0f2d0;
  --color-fill-light: #e0f2d0;
  /* Fonts */
  --font-jet: "Plus Jakarta Sans", system-ui, -apple-system, sans-serif;
  --font-inst: "Instrument Serif", Georgia, serif;

  /* Font sizes */
  --fs-h0: 67.3px;
  --lh-h0: 1;

  --fs-h1: 50.5px;
  --lh-h1: 1;

  --fs-h2: 37.9px;
  --lh-h2: 1.1;

  --fs-h3: 28.4px;
  --lh-h3: 1.1;

  --fs-h4: 21.3px;
  --lh-h4: 1.1;

  --fs-base: 16px;
  --lh-base: 1.2;

  --fs-small: 12px;
  --lh-small: 1;
  --letter-perso: -3%;
  --fs-xsmall: 9px;
  --lh-xsmall: 1;
  --tracking-tighter: -0.03em;
  --tracking-normal: -0.01em;
}
@layer components {
  .letter-perso {
    letter-spacing: var(--letter-perso) !important;
  }
  .masonry {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-flow: dense;
    grid-auto-rows: masonry;
    gap: 1.5rem;
  }
}
