---
const { sectionLabel, sectionTitle, items } = Astro.props;
---

<section
  class="w-full rounded-2xl mt-24 relative cms-bg-dark js-duvidas"
  id="duvidas"
>
  <div class="container mx-auto px-4 py-24 grid grid-cols-1 md:grid-cols-2">
    <header
      class="flex flex-col gap-4 static px-2 lg:sticky lg:top-24 pb-8 lg:pb-24 items-start self-start"
    >
      <span
        class="inline-flex items-center gap-1 px-2.5 py-1.5 rounded-full border cms-border-light js-duvidas-decorativo"
      >
        <svg
          aria-hidden="true"
          focusable="false"
          viewBox="0 0 12 14"
          class="size-3.5 block cms-fill-light"
        >
          <path
            d="M10.5 2.00036C9.73904 1.99967 8.98632 2.15784 8.29 2.46473C7.34625 0.879108 5.795 0.089733 5.72375 0.0528581C5.65428 0.0180978 5.57768 0 5.5 0C5.42232 0 5.34572 0.0180978 5.27625 0.0528581C5.205 0.089108 3.65125 0.879108 2.71 2.46473C2.01368 2.15784 1.26096 1.99967 0.5 2.00036C0.367392 2.00036 0.240215 2.05304 0.146447 2.1468C0.0526785 2.24057 0 2.36775 0 2.50036V5.00036C0.00164971 6.37198 0.515112 7.69362 1.43989 8.7066C2.36467 9.71958 3.6342 10.351 5 10.4772V12.6916L2.72375 11.5529C2.66498 11.5235 2.601 11.506 2.53547 11.5013C2.46993 11.4966 2.40412 11.5049 2.34178 11.5257C2.27945 11.5465 2.22182 11.5793 2.17219 11.6224C2.12255 11.6654 2.08188 11.7178 2.0525 11.7766C2.02312 11.8354 2.0056 11.8994 2.00094 11.9649C1.99628 12.0304 2.00458 12.0962 2.02535 12.1586C2.04613 12.2209 2.07898 12.2785 2.12203 12.3282C2.16508 12.3778 2.21748 12.4185 2.27625 12.4479L5.27625 13.9479C5.34572 13.9826 5.42232 14.0007 5.5 14.0007C5.57768 14.0007 5.65428 13.9826 5.72375 13.9479L8.72375 12.4479C8.84243 12.3885 8.93268 12.2845 8.97465 12.1586C9.01661 12.0327 9.00684 11.8953 8.9475 11.7766C8.88816 11.6579 8.7841 11.5677 8.65822 11.5257C8.53233 11.4838 8.39493 11.4935 8.27625 11.5529L6 12.6916V10.4772C7.3658 10.351 8.63533 9.71958 9.56011 8.7066C10.4849 7.69362 10.9984 6.37198 11 5.00036V2.50036C11 2.36775 10.9473 2.24057 10.8536 2.1468C10.7598 2.05304 10.6326 2.00036 10.5 2.00036ZM5 9.47286C3.90043 9.34854 2.88505 8.82399 2.14737 7.99917C1.40968 7.17435 1.00128 6.10693 1 5.00036V3.02786C2.09957 3.15217 3.11495 3.67673 3.85263 4.50155C4.59032 5.32637 4.99872 6.39379 5 7.50036V9.47286ZM5.5 5.21036C5.07938 4.29653 4.41724 3.51488 3.585 2.94973C4.18313 1.96286 5.085 1.33098 5.5 1.07473C5.91563 1.32973 6.8175 1.96161 7.415 2.94973C6.58289 3.51502 5.92078 4.29663 5.5 5.21036ZM10 5.00036C9.99872 6.10693 9.59032 7.17435 8.85264 7.99917C8.11495 8.82399 7.09957 9.34854 6 9.47286V7.50036C6.00128 6.39379 6.40968 5.32637 7.14736 4.50155C7.88505 3.67673 8.90043 3.15217 10 3.02786V5.00036Z"
          ></path>
        </svg>

        <p class="cms-text-light font-inst text-[.875rem] leading-none">
          {sectionLabel}
        </p>

        <svg
          aria-hidden="true"
          focusable="false"
          viewBox="0 0 12 14"
          class="size-3.5 block cms-fill-light"
        >
          <path
            d="M10.5 2.00036C9.73904 1.99967 8.98632 2.15784 8.29 2.46473C7.34625 0.879108 5.795 0.089733 5.72375 0.0528581C5.65428 0.0180978 5.57768 0 5.5 0C5.42232 0 5.34572 0.0180978 5.27625 0.0528581C5.205 0.089108 3.65125 0.879108 2.71 2.46473C2.01368 2.15784 1.26096 1.99967 0.5 2.00036C0.367392 2.00036 0.240215 2.05304 0.146447 2.1468C0.0526785 2.24057 0 2.36775 0 2.50036V5.00036C0.00164971 6.37198 0.515112 7.69362 1.43989 8.7066C2.36467 9.71958 3.6342 10.351 5 10.4772V12.6916L2.72375 11.5529C2.66498 11.5235 2.601 11.506 2.53547 11.5013C2.46993 11.4966 2.40412 11.5049 2.34178 11.5257C2.27945 11.5465 2.22182 11.5793 2.17219 11.6224C2.12255 11.6654 2.08188 11.7178 2.0525 11.7766C2.02312 11.8354 2.0056 11.8994 2.00094 11.9649C1.99628 12.0304 2.00458 12.0962 2.02535 12.1586C2.04613 12.2209 2.07898 12.2785 2.12203 12.3282C2.16508 12.3778 2.21748 12.4185 2.27625 12.4479L5.27625 13.9479C5.34572 13.9826 5.42232 14.0007 5.5 14.0007C5.57768 14.0007 5.65428 13.9826 5.72375 13.9479L8.72375 12.4479C8.84243 12.3885 8.93268 12.2845 8.97465 12.1586C9.01661 12.0327 9.00684 11.8953 8.9475 11.7766C8.88816 11.6579 8.7841 11.5677 8.65822 11.5257C8.53233 11.4838 8.39493 11.4935 8.27625 11.5529L6 12.6916V10.4772C7.3658 10.351 8.63533 9.71958 9.56011 8.7066C10.4849 7.69362 10.9984 6.37198 11 5.00036V2.50036C11 2.36775 10.9473 2.24057 10.8536 2.1468C10.7598 2.05304 10.6326 2.00036 10.5 2.00036ZM5 9.47286C3.90043 9.34854 2.88505 8.82399 2.14737 7.99917C1.40968 7.17435 1.00128 6.10693 1 5.00036V3.02786C2.09957 3.15217 3.11495 3.67673 3.85263 4.50155C4.59032 5.32637 4.99872 6.39379 5 7.50036V9.47286ZM5.5 5.21036C5.07938 4.29653 4.41724 3.51488 3.585 2.94973C4.18313 1.96286 5.085 1.33098 5.5 1.07473C5.91563 1.32973 6.8175 1.96161 7.415 2.94973C6.58289 3.51502 5.92078 4.29663 5.5 5.21036ZM10 5.00036C9.99872 6.10693 9.59032 7.17435 8.85264 7.99917C8.11495 8.82399 7.09957 9.34854 6 9.47286V7.50036C6.00128 6.39379 6.40968 5.32637 7.14736 4.50155C7.88505 3.67673 8.90043 3.15217 10 3.02786V5.00036Z"
          ></path>
        </svg>
      </span>

      <h2
        class="cms-text-light lg:text-[4.2088rem] text-[3.125rem] text-start leading-none tracking-tighter max-w-[12ch] js-duvidas-title font-inst"
      >
        {sectionTitle}
      </h2>
    </header>

    <ul class="space-y-2 js-duvidas-cards">
      {
        items.map((item) => (
          <li>
            <details class="cms-bg-light px-8 py-4 rounded-2xl group">
              <summary class="flex items-center justify-between cursor-pointer list-none">
                <h3 class="cms-text-dark font-medium text-base lg:text-[1.3125rem]">
                  {item.question}
                </h3>

                <span
                  class="p-2 cms-bg-dark rounded-full transition-transform duration-300 group-open:rotate-45"
                  aria-hidden="true"
                >
                  <svg viewBox="0 0 11 11" class="size-3.5">
                    <path
                      class="cms-fill-light"
                      d="M4.54329 10.665V6.12171H0V4.52196H4.54329V0H6.14304V4.52196H10.665V6.12171H6.14304V10.665H4.54329Z"
                    />
                  </svg>
                </span>
              </summary>

              <p class="mt-3 text-base cms-text-dark max-w-prose">
                {item.answer}
              </p>
            </details>
          </li>
        ))
      }
    </ul>
  </div>
</section>
